<!--
   index.html
   
-->
<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
  maximum-scale=1.0, minimum-scale=1.0", target-densitydpi=medium-dpi"/>
    <title>GCUBME Lab Live Streaming</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
		body {
			text-align: center;
		}
    </style>
  </head>
  <body>
      <h1>GCUBME Lab Live Streaming</h1>
      <h1><img src="http://10.2.52.53:5000/stream" width="30%" hight="30%"></h1>
      <h2><script src="./index.js"> </script></h2>

       
      // const source = new EventSource("/counting");

      // source.onmessage = function (event) { 
      //   const data = JSON.parse(event.data); 
      //   count_num:{{ data.value }}
      // }


      

      // <!-- <form method="get" action="/stream">
     
      //         </form>
  </body>
</html>
